@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
@import url("https://db.onlinewebfonts.com/c/c86f6e311c62f1ee74affa41d9c3686f?family=Streamster");

@font-face {
  font-family: "Streamster";
  src: url("https://db.onlinewebfonts.com/t/c86f6e311c62f1ee74affa41d9c3686f.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/c86f6e311c62f1ee74affa41d9c3686f.woff2") format("woff2");
}

* {
  margin: auto;
  padding: 0;
}

body {
  --color1: #0E0A24;
  --color2: #4C3F97;
  --patternsize: 3px;
  width: 100vw;
  height: 100vh;
  background: #09090e;
  overflow: hidden;
  font-size: 20px;
}

#wallpaper {
  height: 100vh;
}

#wallpaper-overlay {
  z-index: 50;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#desktop {
  z-index: 50;
  top: 0;
  left: 0;
  position: absolute;
}

#window {
  z-index: 100;
  top: 0;
  left: 0;
  position: absolute;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inline {
  max-width: 250px;
  padding: 5px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pointer {
  cursor: pointer;
}

.inherit-pointer {
  cursor: inherit;
}

.date {
  color: #999;
}

.name {
  color: #999;
}
