.ad {
    font-family: "VT323", monospace;
}

.box {
    background: lightgrey;
    position: absolute;
    width: 500px;
    box-shadow: 2px 2px;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 3px;
    background: #fff;
    line-height: 1.5rem;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.box__prompt {
    position: absolute;
    width: 100px;
}

.prompt {
    margin-bottom: 20px;
    position: relative;
    display: block;
    width: 200px;
}

.box__heading {
    background: linear-gradient(to bottom, black, black 50%, white 50%, white);
    background-size: 100% 3px;
    display: flex;
    justify-content: center;
    margin: -1rem -1rem 1rem -1rem;
    width: calc(100% + 2rem);
    text-transform: uppercase;
    font-size: 1.5rem;
}

.box__heading span {
    padding: 0 1rem;
    background: white;
}

.box__close {
    position: absolute;
    left: 1rem;
    padding: 0px 3px;
    border-radius: 3px;
    background-color: #eee;
}

.box__content {
    background-color: #fff;
    position: relative;
}

#window-help .box__content {
    max-height: 500px;
    overflow: scroll;
}
